.tabList {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: calc(100% - 40px);
  background-color: #2f3136;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  user-select: none;
  padding: 20px 0;

  h1 {
    width: calc(100% - 20px);
    color: #72767d;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 6px 10px;
    margin: 0px;
    cursor: default;
  }

  ul {
    width: calc(100% - 10px);
    margin: 0;
    padding: 0 5px;
  }

  .separator {
    width: calc(100% - 20px);
    background-color: hsla(218,5%,47%,.3);
    margin: 8px 10px;
    height: 1px;
  }

  .newTabBtn {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: calc(100% - 10px);
    height: 30px;
    color: rgb(67, 181, 129);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding: 6px 5px;
    border-radius: 3px;
    vertical-align: baseline;
    cursor: pointer;

    label {
      cursor: pointer;
    }

    &:hover {
      color: #f6f6f7;
      background-color: rgb(67, 181, 129);
    }
  }
}
